/*





*/
body {	
	background: #1A2D4B;
	position: relative;
	color: black;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	overflow-x: hidden;
}

.cd-bg-video-wrapper {
	background: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

/* https://codepen.io/dudleystorey/pen/knqyK */
.cd-bg-video-wrapper video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background: url('../img/bangkok-city.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}

.tm-white { color: #FFFFFF; }

ul { padding: 0; margin: 0; }
figure { margin: 0; }
p:last-child { margin-bottom: 0; }
a { color: #3f97c9; }
a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

.tm-section-margin-t { margin-top: 200px; }
.tm-section-margin-t-small { margin-top: 150px; }

.cd-hero-slider li:first-of-type,
.cd-hero-slider li:nth-of-type(2),
.cd-hero-slider li:nth-of-type(3),
.cd-hero-slider li:nth-of-type(4) {
    background: none;
}

.cd-hero-slider .cd-full-width { padding-top: 0; }

.cd-slider-nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1002;
	background-color: rgba(42, 59, 85, 0.8);
	height: 50px;
}

.cd-slider-nav nav { 
	width: 100%; 
	padding: 0 10px;
}

.cd-slider-nav .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.cd-slider-nav li { 
	display: block;
	float: none;
	width: auto;	
}

.tm-navbar { float: right; }
.tm-navbar-bg {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
}

.navbar-toggler {
	float: right;
	font-size: 1.75rem;
	padding: 1rem 1.5rem;
	background: rgba(255,255,255,0.7);
	border-radius: 0;
	position: absolute;
	right: 20px;
	top: 5px;
}

button:focus { outline: none; }

.cd-slider-nav a.navbar-brand {
	background-color: transparent;
	color: white;
	font-size: 3rem;
	padding-top: 0;
	padding-bottom: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
	margin-top: 0;
	width: auto;
}

.cd-slider-nav a { text-transform: capitalize; }
.navbar-nav .nav-item { float: none; }
.navbar-nav .nav-item+.nav-item { margin-left: 0; }

.cd-slider-nav a,
.navbar-nav .nav-link {
	color: white;
    display: table-cell;
    font-weight: 400;
    font-size: 1.4em;
	vertical-align: middle;
    width: 130px;
    height: 40px;
}

.cd-slider-nav .nav-item.selected .nav-link,
.cd-slider-nav .nav-link:hover,
.cd-slider-nav .nav-link:focus {
	background-color: #1a2d4b;
	color: white;	
}

/* Hero Slider */
.cd-hero-slider { height: 100vh; }
.cd-hero-slider li { list-style: none; }
.tm-textbox { display: inline-block; }

.cd-hero-slider h2, .cd-hero-slider p {
	max-width: none;
	width: 100%;
}

.cd-hero-slider p { color: white; }
.cd-hero-slider .tm-bg-white p,
.cd-hero-slider .tm-bg-white h2 { color: black; }

.cd-hero-slider .tm-text { 
	font-size: 1em;
	line-height: 1.8; 
}

.tm-home-container {
	margin: 0 auto;
	max-width: 800px;
	width: 95%;
}

.tm-home-title-container,
.tm-home-description-container {
	width: 100%;
}

.tm-home-title-container {
	background-color: #856729;
	border: 1px solid white;
	margin-bottom: 0;
	padding: 30px;
}

.tm-bg-dark-blue { background-color: #1A2D4B; }
.tm-bg-white { 
	background-color: white; 
	color: black;
}
.tm-bg-brown { background-color: #856729; }
.tm-bg-dark-brown { background-color: #5a471c; }
.tm-home-description-container { padding: 50px; }

.tm-home-container-bg {
	background-color: white;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 45px;
    height: 94%;
}

.tm-home-container-outer {
    position: relative;
    max-width: 840px;
    margin: 0 auto;
}

.cd-hero-slider h2.tm-text-title {	
    font-size: 1.6em;
    font-weight: 400;
}

/* About */
.tm-white-header-container { width: 100%; }

.tm-white-header-container .tm-text-title {
	padding: 25px 40px 60px;
    font-size: 3rem;
}

.tm-white-header-body {
	width: 96%;
    display: block;
    margin: -40px auto 0;
}

.tm-2-col-left { padding-right: 30px; }
.tm-2-col-right { padding-left: 30px; }
.tm-margin-b { margin-bottom: 40px; }
.tm-height-100 { height: 100%; }
.tm-white-border { border: 1px solid white; }

/* Gallery */
.cd-hero-slider h2.tm-margin-b-0 { margin-bottom: 0; }
.tm-gallery-title-container { 
	position: relative; 
	padding-left: 10px;
	padding-right: 10px;
}

.tm-bg-white-half {
	background-color: white;
	width: 50%;
	height: 126px;
	position: absolute;
	top: -10px;
	left: -15px;
	z-index: -1;
}

.tm-footer {
	position: absolute;
	bottom: 0;
	left: 0;	
}

.tm-footer {
    width: 100%;
    color: white;
    z-index: 1001;
    padding: 0 11px 12px;
}

.cd-full-width {
	display: -ms-flexbox;
	display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.cd-hero-slider p:last-child { margin-bottom: 0; }

/* Contact */
.tm-contact-page {
	margin: 0 auto;
	max-width: 1190px;
	padding: 0;
}

.tm-contact-container { max-width: 1150px; }

.form-control,
.tm-submit-btn {
	font-size: 1.8rem;
}
.form-control {
	border-radius: 0;
	padding: 1rem 2rem;
}

.form-control::-webkit-input-placeholder { color: #000000; }
.form-control:-moz-placeholder { color: #000000; } /* Firefox 18- */
.form-control::-moz-placeholder { color: #000000; } /* Firefox 19+ */
.form-control:-ms-input-placeholder { color: #000000; }
.form-group { margin-bottom: 1.5rem; }

.tm-submit-btn {
	background-color: #856729;
	border: none;
	color: white;
	padding: 10px 50px;
	margin-top: 10px;
	font-weight: 400;
	font-size: 2.5rem;
}

.tm-submit-btn:hover,
.tm-submit-btn:focus,
.tm-submit-btn:active {
	background-color: rgb(176, 138, 59);
}

textarea { height: 168px; }

/* Preloader 
	https://ihatetomatoes.net/create-custom-preloading-screen/
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   #loader-wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 2000; }
   #loader { display: block; position: relative; left: 50%; top: 50%; width: 150px; height: 150px; margin: -75px 0 0 -75px; border-radius: 50%; border: 3px solid transparent; border-top-color: #3498db; /* Chrome, Opera 15+, Safari 5+ */
   	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ z-index: 2001; }
   #loader:before { content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 3px solid transparent;
   	border-top-color: #e74c3c; /* Chrome, Opera 15+, Safari 5+ */
   animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
   #loader:after { content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 3px solid transparent;
border-top-color: #f9c922; /* Chrome, Opera 15+, Safari 5+ */ animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
@keyframes spin {
	0%   {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section { position: fixed; top: 0; width: 51%; height: 100%; background: #222222; z-index: 2000;  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */ transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */}
#loader-wrapper .loader-section.section-left { left: 0; }
#loader-wrapper .loader-section.section-right { right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;  
	transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper { display: none; }
/*============ Preloader ends ==================================*/

.cd-hero-slider.small-screen { height: 100%; }

.tm-navbar {
	position: absolute;
    right: 20px;
    top: 44px;
}

.cd-slider-nav .navbar-nav { background-color: #455471; }

.cd-slider-nav a, 
.navbar-nav .nav-link { height: 50px; }

.cd-hero-slider .cd-full-width { text-align: left; }
.tm-2-col-left { padding-right: .9375rem; }

.tm-2-col-right {
	padding-left: .9375rem;
	padding-top: 14px;
}

.tm-2-col-textbox-2 {
	width: 100%;
	padding: 25px;
	margin-bottom: 30px; 
	-ms-flex: 0 1 auto; 
	    flex: 0 1 auto; 
	        /* Fix flexbox in IE 10 bug https://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/ */
}

.tm-2-col-textbox-2:last-child { margin-bottom: 0; }

/* Gallery */
.grid-item {
	margin-bottom: 20px;
	padding-left: 1px;
	padding-right: 1px;
	float: left;
	width: 100%;
}

.grid-item-square { width: 50%; }

.grid-item:last-child { margin-bottom: 0; }

.tm-img-gallery {
	margin: 0 auto 10px;
	display: inline-block;
}

.tm-img {
  	width: 100%;
  	height: auto;
  	border: 10px solid #ffffff;
  	margin: 0 auto;
}

.tm-img-no-border {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.tm-textbox-padding { padding: 35px 30px; }

.col-xs-12 {
	padding-left: 10px;
	padding-right: 10px;
}

.tm-copyright-text {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 5px 12px;
    width: 100%;
}

.tm-footer { padding: 50px 11px 20px; }
.tm-footer-link { color: white; }
.tm-footer-link:hover,
.tm-footer-link:focus {
	color: yellow;
}

/* Media Queries */
@media only screen and (min-width: 480px) {
	.cd-hero-slider h2.tm-text-title { font-size: 2.2em; }
	.cd-hero-slider h2.tm-text-title-small { font-size: 1.6em; }
	.tm-textbox-padding { padding: 30px 40px; }
	.tm-textbox-padding-contact { padding: 30px; }
		
	.grid-item {
		padding-left: 10px;
		padding-right: 10px;
		width: 50%;
	}

	.grid-item-big { width: 100%; }
}

@media only screen and (min-width: 600px) {

	.tm-home-container-bg {	height: 92%; }
	.tm-footer { padding: 50px 30px 20px; }
	.tm-copyright-text { width: auto; }
}

@media only screen and (min-width: 720px) {
	
	.tm-footer { 
		-ms-flex-direction: row; 
			flex-direction: row; 
	}

	.tm-copyright-text { margin-top: 0; }
}

.tm-sm-margin-b { margin-bottom: 30px; }
.tm-2-col-equal-height { height: 77%; }

@media only screen and (min-width: 768px) {

	.tm-2-col-left { padding-right: 20px; }
	.tm-2-col-right { padding-left: 20px; }
	.tm-sm-margin-b { margin-bottom: 0; }
	.tm-home-container-bg { height: 92%; }
	.cd-hero-slider .cd-full-width { padding-top: 0; }
	.tm-2-col-left { padding-right: 25px; }

	.tm-2-col-right { 
		padding-left: 25px; 
		padding-top: 0;
	}

	.tm-flex { 
		display: -ms-flexbox; 
		display: -webkit-box; 
		display: flex;
		-ms-flex-pack: center;
		    -webkit-box-pack: center;
		        justify-content: center;
	}

	.tm-2-col-textbox-2 {	
		margin-bottom: 0;
		margin-right: 30px;
		width: 100%;
	}

	.tm-2-col-textbox-2:last-child { margin-right: 0; }
}

@media only screen and (min-width: 992px) {

	.cd-slider-nav { height: 80px; }

	.cd-slider-nav .nav-item.selected .nav-link,
	.cd-slider-nav .nav-link:hover,
	.cd-slider-nav .nav-link:focus {
		height: 100px;
	}

	.cd-slider-nav a.navbar-brand { font-size: 3.5rem; }

	.tm-navbar-bg { 
		padding-left: 25px; 
		padding-right: 0;
	}

	.tm-navbar {
		position: static;
		height: auto !important;		
	}

	.cd-slider-nav .navbar-nav {
		background: transparent;
		display: -ms-flexbox;
		display: flex;
	}

	.cd-slider-nav li {	
		display: inline-block; 
		width: auto;
		height: auto;
	}

	.cd-slider-nav a, 
	.navbar-nav .nav-link {
		height: 80px;
	}

	.cd-slider-nav a.navbar-brand {	margin-top: -20px; }
	.grid-item { width: 33.3333%; }
	.grid-item-big { width: 50%; }
	.grid-item-square { width: 25%; }
}

@media only screen and (min-width: 1063px) {
	.cd-slider-nav { top: 0; }
	.cd-slider-nav nav { padding: 0; }
	.tm-contact-page { padding: 20px; }
}

@media only screen and (min-width: 1170px) {
	
	.cd-hero-slider h2 { margin-bottom: 0; }
	.cd-hero-slider h2.tm-header-margin-b { margin-bottom: 20px; }
	.cd-hero-slider p { margin-bottom: 30px; }	
	.cd-hero-slider p:last-child { margin-bottom: 0; }
	.cd-hero-slider .cd-full-width { padding-top: 0; }
	.cd-hero-slider .tm-text { font-size: 1.1em; }	
}

@media only screen and (min-width: 1333px) {
	.cd-slider-nav a,
	.navbar-nav .nav-link {
		font-size: 1.2em;
		width: 160px;
	}
	.cd-slider-nav a.navbar-brand { font-size: 3.5rem; }
	.tm-navbar-bg { padding-left: 30px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tm-2-col-textbox-2 { margin-right: 15px; }	
}

@media only screen and (max-width: 800px) {
  .cd-bg-video-wrapper { 
  	background: url('../img/bangkok-city.jpg') #000 no-repeat center center fixed; 
  	background-size: cover;
  }
  .cd-bg-video-wrapper video { display: none; }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     .cd-bg-video-wrapper { 
	  	background: url('../img/bangkok-city.jpg') #000 no-repeat center center scroll; 
	  	background-size: cover;
	  }
	  .cd-bg-video-wrapper video { display: none; }
}

