/** FONTS
----------------------------- **/

@font-face {
	font-family: Whitney;
	font-style: light;
	font-weight: 300;
	src: url(https://discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff) format('woff')
}

@font-face {
	font-family: Whitney;
	font-style: normal;
	font-weight: 500;
	src: url(https://discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff) format('woff')
}

@font-face {
	font-family: Whitney;
	font-style: medium;
	font-weight: 600;
	src: url(https://discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff) format('woff')
}

@font-face {
	font-family: Whitney;
	font-style: semibold;
	font-weight: 650;
	src: url(/assets/877ef48bf9fcfee590f0ba64de101b59.woff) format('woff')
}

@font-face {
	font-family: Whitney;
	font-style: bold;
	font-weight: 700;
	src: url(https://discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff) format('woff')
}

@font-face {
	font-family: SourceCodePro;
	font-style: normal;
	font-weight: 500;
	src: url(https://discordapp.com/assets/748ac49ebe4bf0ddfe85c005be7c64c4.woff) format('woff')
}

/** NATIVE
----------------------------- **/

body,html {
	font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	background: #2C2F33;
	color: rgba(255, 255, 255, 0.6);
	margin: 0;
	padding: 0;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

p {
    line-height: 27px;
    text-align: justify;
}

code {
	font-family: SourceCodePro;
	background: #2e3136;
    border: 2px solid #282b30;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
    font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
}

a {
    text-decoration: none;
    color: #7289da;
    transition: all .3s cubic-bezier(.25, .25, .315, 1.35), top .1s linear;
}

a:hover {
    color: #7890e7;
}

/** HEADER
----------------------------- **/

header {
	height: 500px;
	width: 100%;
	background: url('../img/background.png'), #7289DA;

	display: flex;
	justify-content: center;	

	img {
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}

/** SECTION
----------------------------- **/

section {
	width: 80%;
	padding: 1rem 0rem;

	.header {
		padding: 2rem;
	}

	h1,h3 {
		font-weight: bold;
		color: #FFFFFF;
		padding: 0;
		margin: 0;
	}

	h1,h2 {
		text-align: center;
	}

	h2 {
		font-size: 12pt;
	}

	h3 {
		font-size: 18pt;
	}

	ol li {
		height: 50px;
	}

}

/** FOOTER
----------------------------- **/

footer {
	background: #23272A;

	width: 100%;

	padding: 1rem 0rem;

	text-align: center;

	p {
		text-align: center;
	}
}

/** MOBILE
----------------------------- **/

@media screen and (max-width: 700px) {
	header {
		padding: 0px;
		height: auto;

		img {
			width: 80vw;
			height: 80vw;
			max-height: 500px;
			max-width: 500px;
		}
	}

}